* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.squares {
  width: 35px;
  height: 35px;
}

#board-container {
  display: grid;
  grid-template-rows: repeat(3,1fr);
  grid-template-columns: repeat(3,1fr);
}